
.img {
/*    width: 200px;*/
    height: 200px;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-title {
/*    padding-bottom: 10px;*/
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: var(--lavendar);
}

.project-body {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-container {
    margin-top: 20px;
    border: 1px solid #EBECF0;
    width: 300px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 30px;
    float: left;
    height: 240px; 
}

.project-inner {
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.project-container:hover .project-inner {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-back {
    transform: rotateY(180deg);
}



.project-links {
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 600;
/*    color: #7285A5; */
    color: #4682B4;
    text-decoration: underline;
    margin-top: 0px; 
    margin-left: 20px;
}

.project-links:hover{
    text-decoration: none;
    color: #7285A5;
}

.project-links:hover span:after {
    text-decoration: underline;
    color: #4682B4;
    transition: all 0.5s;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
/*    width: 50%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
    margin-left: 10px;
    overflow: scroll;
    overflow-y: hidden;
    width: 90%;
}

.tag {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #4C516D;
    border-radius: 10px;
    background: var(--lavendar);
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 15px; 
}

.parent:after {
    overflow-x: auto;
    overflow-y: hidden;
    clear: both;
    content: "";
     display: table;
     /*white-space: nowrap;
     margin-left: auto;
      margin-right: auto;*/
}

table {
    table-layout: fixed; 
    width: 100%
}

.child{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}